@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Reckless";
  src: url('/fonts/Reckless.otf') format("opentype");
}

@font-face {
  font-family: "Programme-BoldIta";
  src: url('/fonts/Programme-BoldIta.woff') format("woff");
}

@font-face {
  font-family: "Programme-Regular";
  src: url('/fonts/Programme-Regular.woff') format("woff");
}

@font-face {
  font-family: "Programme-LightIta";
  src: url('/fonts/Programme-LightIta.woff') format("woff");
}

@font-face {
  font-family: "Programme-Light";
  src: url('/fonts/Programme-Light.woff') format("woff");
}

html {
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar{
  display: none;
}

[data-pin='2'] {
  filter: saturate(var(--saturation));
  clip-path: inset(0% 0% 0% 0%);
}

[data-pin="2"] canvas {
  pointer-events: auto; /* canvas receives pointer + scroll input again */
}