@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


@font-face {
  font-family: "Reckless";
  src: url('/fonts/Reckless.otf') format("opentype");
}

@font-face {
  font-family: "Programme-BoldIta";
  src: url('/fonts/Programme-BoldIta.woff') format("woff");
}

@font-face {
  font-family: "Programme-Regular";
  src: url('/fonts/Programme-Regular.woff') format("woff");
}

@font-face {
  font-family: "Programme-LightIta";
  src: url('/fonts/Programme-LightIta.woff') format("woff");
}

@font-face {
  font-family: "Programme-Light";
  src: url('/fonts/Programme-Light.woff') format("woff");
}

@font-face {
  font-family: "AsapCondensed-Light";
  src: url('/fonts/AsapCondensed-Light.ttf') format("truetype");
}

@font-face {
  font-family: "InriaSans-Regular";
  src: url('/fonts/InriaSans-Regular.ttf') format("truetype");
}

html {
  -webkit-font-smoothing: antialiased;
  background-color: #000;
    overflow: hidden;
    touch-action: none;
  /* will-change: auto; */
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

::-webkit-scrollbar{
  display: none;
}

[data-pin='2'] {
  filter: saturate(var(--saturation));
  clip-path: inset(0% 0% 0% 0%);
}

[data-pin="2"] canvas {
  pointer-events: auto; /* canvas receives pointer + scroll input again */
}